<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>admin - product details</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.15.4/css/all.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>



</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1D2128FF;">
    <a class="navbar-brand" href="#"><img src="../media/logo-header-main.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <div class="header-content">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <center><i class="fas fa-mobile"></i>
                All phones</center>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./admin-manageUser.html">
              <center>
                <i class="fas fa-user"></i>
                View Users
              </center>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./admin-addProduct.html">
              <center>
                <i class="fas fa-plus-circle"></i>
                Add Product
              </center>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="navbar-nav ms-auto">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-lg avatar justify-content-center"
              style=" display: flex; color: #ffffff; width: 40; height: 40;"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/login">Login</a>
            <a class="dropdown-item" href="/register">Register</a>
            <a class="dropdown-item" href="/">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>



  <div class="container">
    <button class="back">
      <a href="#" style="color: black;">
        <i class="fas fa-chevron-left"></i>
        Back to products
      </a>
    </button>
    <div class="container-fluid">
      <div class="wrapper row product-details">
        <div class="preview col-md-6">
          <div class="preview-pic card">
            <center>
              <img src="../media/phone/samsung.jpg" alt="iphone">
            </center>
          </div>
          <ul class="preview-thumbnail nav justify-content-center">
            <li class="preview-1"><img class="preview-tab" src="../media/phone/ip14-xanh1.jpg"></img></li>
            <li class="preview-2"><img class="preview-tab" src="../media/phone/ip14-xanh2.jpg"></img></li>
            <li class="preview-3"><img class="preview-tab" src="../media/phone/ip14-xanh3.jpg"></img></li>
            <li class="preview-4"><img class="preview-tab" src="../media/phone/ip14-xanh4.jpg"></img></li>
          </ul>
        </div>
        <div class="details col-md-6">
          <h3 class="product-title">
            Product name
            <button class="btn" style="float: right; color: #0069d9;"><i class="fas fa-trash-alt"></i></button>
          </h3>
          <div class="rating">
            <div class="row">
              <b class="col-1">4.5</b>
              <div class="stars col-5">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-half checked"></span>
              </div>
              <div class="4">
                <b>368 </b> reviews
              </div>
            </div>
          </div>
          <h3 class="price">
            20.0000.000 VND
          </h3>
          <div class="colors">
            <h5>color:</h5>
            <span class="oval" style="background-color: red;"></span>
            <span class="oval" style="background-color: black;"></span>
            <span class="oval" style="background-color: pink;"></span>
            <span class="oval" style="background-color: blue;"></span>
            <span class="oval" style="background-color: green;"></span>
          </div>
          <div class="delivery">
            <h5>Delivery</h5>
            <select class="form-select" aria-label="Default select example">
              <option selected>Standard delivery - Est. arrival: 24/12</option>
              <option value="1">One</option>

            </select>
          </div>
          <div class="action">
            <button type="button" class="btn btn-outline-primary add-to-cart" style="bottom: 0px;">
              <i class="fas fa-cart-plus"></i> Add to cart</button>
            <button type="button" class="btn btn-primary check-out">Checkout</button>
          </div>
        </div>
      </div>
    </div>

    <!-- review -->
    <div class="review-card">
      <h5 class="review-title">Reviews (368)</h5>
      <hr />
      <div class="review-content">
        <div class="wrapper row">
          <div class="review-stats col-md-4">
            <center>
              <h3>4.5 </h3>
              <div class="progress-stat-bar row">
                5
                <i class="fa fa-star col-md-1" style="padding: 0px; margin-top: 4px;"></i>
                <div class="progress col-8" style=" padding: 0px">
                  <div class="progress-bar " role="progressbar" style="width: 50%; background:#f3c63f;"
                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                50%
              </div>

              <div class="progress-stat-bar row">
                4
                <i class="fa fa-star col-md-1" style="padding: 0px; margin-top: 4px;"></i>
                <div class="progress col-8" style=" padding: 0px">
                  <div class="progress-bar " role="progressbar" style="width: 50%; background:#f3c63f"
                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                50%
              </div>
              <div class="progress-stat-bar row">
                3
                <i class="fa fa-star col-md-1" style="padding: 0px; margin-top: 4px;"></i>
                <div class="progress col-8" style=" padding: 0px">
                  <div class="progress-bar " role="progressbar" style="width: 20%; background:#f3c63f"
                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                20%
              </div>
              <div class="progress-stat-bar row">
                2
                <i class="fa fa-star col-md-1" style="padding: 0px; margin-top: 4px;"></i>
                <div class="progress col-8" style=" padding: 0px">
                  <div class="progress-bar " role="progressbar" style="width: 50%; background:#f3c63f"
                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                50%
              </div>
              <div class="progress-stat-bar row">
                1
                <i class="fa fa-star col-md-1" style="padding: 0px; margin-top: 4px;"></i>
                <div class="progress col-8" style=" padding: 0px">
                  <div class="progress-bar " role="progressbar" style="width: 50%; background:#f3c63f"
                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                50%
              </div>
            </center>
          </div>
          <div class="review-customer col-md-8">
            <div class="card">
              <div class="card-body">
                <b>Annie Haley</b>
                <div class="stars">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star-half checked"></span>
                </div>
                <p class="comment">Commodo consequat quis nisi dolor laboris in aute occaecat quis consequat culpa
                  consectetur aliqua. Laborum cupidatat id reprehenderit non cillum irure sunt commodo.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <b>Annie Haley</b>
                <div class="stars">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star-half checked"></span>
                </div>
                <p class="comment">Commodo consequat quis nisi dolor laboris in aute occaecat quis consequat culpa
                  consectetur aliqua. Laborum cupidatat id reprehenderit non cillum irure sunt commodo.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <b>Annie Haley</b>
                <div class="stars">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star-half checked"></span>
                </div>
                <p class="comment">Commodo consequat quis nisi dolor laboris in aute occaecat quis consequat culpa
                  consectetur aliqua. Laborum cupidatat id reprehenderit non cillum irure sunt commodo.</p>
              </div>
            </div>
            <span id="dots"></span>
            <!-- View more -->
            <span id="more" style="display: none;">
              <div class="card-body">
                <b>Annie Haley</b>
                <div class="stars">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star-half checked"></span>
                </div>
                <p class="comment">Commodo consequat quis nisi dolor laboris in aute occaecat quis consequat culpa
                  consectetur aliqua. Laborum cupidatat id reprehenderit non cillum irure sunt commodo.</p>
              </div>
            </span>
            <button class="btn " onclick="myFunction()" id="myBtn" style="float: right; ">View all <i
                class="fas fa-chevron-right"></i></button>
          </div>
        </div>
        <div class="review-add">
          <h5>Leave a review</h5>
          <form action="">
            <div class="wrapper row">
              <div class="form-group col-md-9">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                  placeholder="Write your commend here"></textarea>
              </div>
              <div class="col-md-3">
                <div class="rate">
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 star</label>
                </div>
                <button type="submit" class="btn btn-primary"
                  style="margin-left: 47px;margin-top: 10px;">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>


    </div>

    <!-- similar product -->
    <div class="suggest">
      <h5 style="padding-bottom: 50px;"><b>Similar products</b></h5>
      <div class="wrapper row">
        <div class="col-md-3">
          <div class="suggest-card">
            <img src="../media/phone/ip14-do.jpg" alt="Iphone" class="card-img-phone">
            <div class="suggest-card-desc">
              <h6 class="suggest-card-title"><b>Product name</b></h6>
              <div class="wrapper row">
                <div class="suggest-card-star col-md-5" style="font-size: 14px;">
                  <b>4.7</b> (456)
                  <i class="fa fa-star"></i>
                </div>
                <h6 class="suggest-card-price col-md-7"><b>20.000.000 VND</b></h6>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="suggest-card">
            <img src="../media/phone/ip14-do.jpg" alt="Iphone" class="card-img-phone">
            <div class="suggest-card-desc">
              <h6 class="suggest-card-title"><b>Product name</b></h6>
              <div class="wrapper row">
                <div class="suggest-card-star col-md-5" style="font-size: 14px;">
                  <b>4.7</b> (456)
                  <i class="fa fa-star"></i>
                </div>
                <h6 class="suggest-card-price col-md-7"><b>20.000.000 VND</b></h6>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="suggest-card">
            <img src="../media/phone/ip14-do.jpg" alt="Iphone" class="card-img-phone">
            <div class="suggest-card-desc">
              <h6 class="suggest-card-title"><b>Product name</b></h6>
              <div class="wrapper row">
                <div class="suggest-card-star col-md-5" style="font-size: 14px;">
                  <b>4.7</b> (456)
                  <i class="fa fa-star"></i>
                </div>
                <h6 class="suggest-card-price col-md-7"><b>20.000.000 VND</b></h6>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="suggest-card">
            <img src="../media/phone/ip14-do.jpg" alt="Iphone" class="card-img-phone">
            <div class="suggest-card-desc">
              <h6 class="suggest-card-title"><b>Product name</b></h6>
              <div class="wrapper row">
                <div class="suggest-card-star col-md-5" style="font-size: 14px;">
                  <b>4.7</b> (456)
                  <i class="fa fa-star"></i>
                </div>
                <h6 class="suggest-card-price col-md-7"><b>20.000.000 VND</b></h6>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Footer  -->

  <footer class="footer-container">

    <div class="row align-items-center py-4">
      <div class="col-4"></div>
      <div class="col-2">
        <img class="footer-logo" src="../media/Logo.svg" alt="logo">
      </div>
      <div class="col-6">
        <p class="about-text">About Us</p>
        <p class="address-text">Address: 268 Ly Thuong Kiet, Ward 14, District 10, HCM City <br> Tel: 0999888777</p>

      </div>
    </div>
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="#">HCMUT</a>
    </div>
    <!-- Copyright -->
  </footer>


  <script>
    function myFunction() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("more");
      var btnText = document.getElementById("myBtn");

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = 'View all <i class="fas fa-chevron-right"></i>';
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = 'View less <i class="fas fa-chevron-left"></i>';
        moreText.style.display = "inline";
      }
    }
  </script>
</body>

</html>