<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles.css">
  <title></title>
</head>

<body>
  <div class="foot">
    <img class="logo" src="../media/logo.png" alt="logo">
    <p class="about-us">About us</p>
    <p class="address">Address: 268 Ly Thuong Kiet, Ward 14, District 10, HCM City</p>
    <p class="tel">Tel: 0999888777</p>
    <hr class="divider">
    <p class="hcmut">© 2022 HCMUT</p>
  </div>
</body>

</html>